/* Estilos del sitio */

/* Elimina márgenes del body y usa fuente legible */

body {
  margin: 0;
  font-family: sans-serif;
  padding: 10px;
}

/* Título */

h1 {
  margin-bottom: 10px;
}

/* Menú desplegable */
#projectSelector {
  margin-bottom: 10px;
  padding: 5px;
}


/* Estilos para el contenedor del mapa */
#map {
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100%; /* Ocupa todo el ancho */
}

/* Estilos para el pop-up de estadísticas */
.stats-popup .leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.95); /* Fondo blanco semitransparente */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0,0,0,0.2); /* Sombra para profundidad */
  padding: 10px;
}

.stats-popup .leaflet-popup-tip {
  display: none; /* Oculta la "cola" del pop-up */
}

.stats-popup .leaflet-popup-close-button {
  display: none; /* Oculta el botón de cerrar */
}

/* Estilos para el nuevo control de fecha */
.last-update-control {
  background-color: white;
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.canary-islands-control {
  position: absolute;  /* o fixed */
  bottom: 10px;
  left: 10px;
  background: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  width: 250px;
  height: 150px;
  z-index: 1000; /* para que quede encima */
}
