name: Actualizar GeoJSON

on:
  schedule:
    - cron: '0 20 * * 3'  # Domingo a las 20hs
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Ejecutar script
        run: python Backend/Calidad_agua.py   # Cambi치 si tu script est치 en otra carpeta

      - name: Commit y push de cambios
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add Backend/data/Output/abastecimientos_test.geojson
          git add Backend/data/Output/abastecimientos_errors.geojson
          git add Backend/data/Output/geocode_cache.json
          git add Backend/data/Output/progress.json
          git commit -m "Actualizaci칩n autom치tica"
          git push
